@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Merriweather:ital@1&family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@100..900&display=swap");

body {
  margin: 0;
  font-family: merriweather, "Noto Sans KR";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
